server:
  port: 8763
spring:
  cloud:
    config:
      discovery:
        enabled: true
      server:
        encrypt.enabled: false
        git:
          uri: https://github.com/liuxuleigitpub/config/
          searchPaths: conf
          username: liuxuleigitpub
          password: nE8OM@sa%
  stream:
    kafka:
      binder:
        brokers: 127.0.0.1
        defaultBrokerPort: 9092
        zkNodes: 127.0.0.1
        defaultZkPort: 2181
        autoCreateTopics: true
        autoAddPartitions: true

####
#Classpath and file-based solution
####

#server:
#   port: 8888
#spring:
#  profiles:
#    active: native
#  cloud:
#     config:
#       server:
#           native:
#              searchLocations: file://<chapter 3>/confsvr/src/main/resources/config/licensingservice,
#                               file://<chapter 3>confsvr/src/main/resources/config/organizationservice
##              #searchLocations: classpath:config/,classpath:config/licensingservice

eureka:
  instance:
    lease-expiration-duration-in-seconds: 20
    lease-renewal-interval-in-seconds: 10
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ipAddress}:${server.port}:${spring.application.name}
  client:
    registry-fetch-interval-seconds: 10
    healthcheck:
      enabled: true

security:
  user:
    name: config
    password: 123456


#Setting logging levels
logging:
  level:
    com.netflix: WARN
    org.springframework.web: WARN
    com.thoughtmechanix: DEBUG
